# Appendix: Python Language Essentials

In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import *
import pandas
np.set_printoptions(precision=4)

## The Python interpreter

```
$ python
Python 2.7.2 (default, Oct  4 2011, 20:06:09)
[GCC 4.6.1] on linux2
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print a
5
```

In [ ]:
%%writefile hello_world.py
print 'Hello world'

```
$ ipython
Python 2.7.2 |EPD 7.1-2 (64-bit)| (default, Jul  3 2011, 15:17:51)
Type "copyright", "credits" or "license" for more information.

IPython 0.12 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: %run hello_world.py
Hello world

In [2]:
```

## The Basics

### Language Semantics

#### Indentation, not braces

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

for x in array {
        if x < pivot {
            less.append(x)
        } else {
            greater.append(x)
        }
    }

for x in array
    {
      if x < pivot
      {
        less.append(x)
      }
      else
      {
        greater.append(x)
      }
    }

a = 5; b = 6; c = 7

#### Everything is an object

#### Comments

In [ ]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))

#### Function and object method calls

In [ ]:
result = f(x, y, z)
g()

In [ ]:
obj.some_method(x, y, z)

In [ ]:
result = f(a, b, c, d=5, e='foo')

#### Variables and pass-by-reference

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a.append(4)
b

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]

append_element(data, 4)

In [4]: data
Out[4]: [1, 2, 3, 4]

#### Dynamic references, strong types

In [ ]:
a = 5
type(a)
a = 'foo'
type(a)

In [ ]:
'5' + 5

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print 'a is %s, b is %s' % (type(a), type(b))
a / b

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

#### Attributes and methods

In [1]: a = 'foo'

In [2]: a.<Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith

>>> getattr(a, 'split')
<function split>

#### "Duck" typing

In [ ]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [ ]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

In [ ]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [ ]:
import some_module
result = some_module.f(5)
pi = some_module.PI

In [ ]:
from some_module import f, g, PI
result = g(5, PI)

In [ ]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
5 - 7
12 + 21.5
5 <= 2

In [5]:
a = [1, 2, 3]
b = a
# Note, the list function always creates a new list
c = list(a)
print(a is b)
print(a is c) # 서로 가르키는게 다르지!!

True
False

In [7]:
a == c # 가르키는 대상이 같냐가 아닌 값이 같은지 물어보는 거다!!

True

In [10]:
a = None # None은 특수한 instance 이다!!
a is None

True

In [16]:
True ^ False # XOR 이다!!

True

In [18]:
4 & 6 # 이진수로 & 취한다!!

4

#### Strictness versus laziness

In [ ]:
a = b = c = 5
d = a + b * c

#### Mutable and immutable objects

In [19]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [22]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [25]:
a_str = 'hello'
a_str[0] = 'm' # 안되네!!

TypeError: 'str' object does not support item assignment

### Scalar Types

#### Numeric types

In [ ]:
ival = 17239871
ival ** 6

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

In [ ]:
from __future__ import division

In [ ]:
3 / float(2)

In [ ]:
3 // 2

In [26]:
cval = 1 + 2j
cval * (1 - 2j)

(5+0j)

#### Strings

In [ ]:
a = 'one way of writing a string'
b = "another way"

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""

In [ ]:
a = 'this is a string'
a[10] = 'f'
b = a.replace('string', 'longer string')
b

In [ ]:
a = 5.6
s = str(a)
s

In [33]:
s = 'python'
print(list(s))
s[:3]

['p', 'y', 't', 'h', 'o', 'n']

'pyt'

In [35]:
s = '12\\34'
print(s)

12\34

In [31]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [ ]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

In [36]:
template = '%.2f %s are worth $%d'

In [38]:
template % (4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

In [42]:
template % (1210.30, 'korean won', 1)

'1210.30 korean won are worth $1'

#### Booleans

In [ ]:
True and True
False or True

In [44]:
a = [1, 2, 3]
if a:
    print('I found something!')

b = []
if not b:
    print('Empty!')

I found something!
Empty!

In [ ]:
bool([]), bool([1, 2, 3])
bool('Hello world!'), bool('')
bool(0), bool(1)

#### Type casting

In [46]:
s = '3.14159'
fval = float(s)
print(type(fval))
print(int(fval))
print(bool(fval))
print(bool(0))

<class 'float'>
3
True
False

#### None

In [ ]:
a = None
a is None
b = 5
b is not None

In [ ]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

#### Dates and times

In [48]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

29
30

In [50]:
print(dt.date())
print(dt.time())

2011-10-29
20:30:21

In [ ]:
dt.strftime('%m/%d/%Y %H:%M')

In [51]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [52]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

### Control Flow

#### If, elif, and else

In [ ]:
if x < 0:
    print 'It's negative'

In [ ]:
if x < 0:
    print 'It's negative'
elif x == 0:
    print 'Equal to zero'
elif 0 < x < 5:
    print 'Positive but smaller than 5'
else:
    print 'Positive and larger than 5'

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d: # 앞부분 True이면 뒷부분 실행 안한다!!
    print 'Made it'

#### For loops

In [ ]:
for value in collection:
    # do something with value

In [ ]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [54]:
for a, b, c in iterator:
    # do something

SyntaxError: unexpected EOF while parsing (<ipython-input-54-1f63cede304d>, line 2)

In [55]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

While loops

In [57]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
print(total)

504

#### pass

In [ ]:
if x < 0:
    print 'negative!'
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print 'positive!'

In [ ]:
def f(x, y, z):
    # TODO: implement this function!
    pass

#### Exception handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [60]:
try:
    f = open(path, 'w')
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Failed

NameError: name 'f' is not defined

#### range and xrange

In [ ]:
range(10)

In [ ]:
range(0, 20, 2)

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [ ]:
sum = 0
for i in xrange(10000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary Expressions

In [62]:
x = 5
value = 'Non-negative' if x >= 0 else 'Negative'
value

'Non-negative'

## Data structures and sequences

### Tuple

In [ ]:
tup = 4, 5, 6
tup

In [63]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [64]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [65]:
tup[0]

's'

In [66]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

# however
tup[1].append(3)
tup

TypeError: 'tuple' object does not support item assignment

In [67]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [68]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [1]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [2]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

tmp = a
a = b
b = tmp

b, a = a, b

seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    pass

#### Tuple methods

In [4]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [7]:
a.index(3)

4

### List

In [39]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

#### Adding and removing elements

In [48]:
b_list[4] = 'big' # 이런 방식 python에서는 안된다.

IndexError: list assignment index out of range

In [49]:
b_list.append('dwarf') # append가 속도가 더 빠르다 insert보다!!
b_list

['foo', 'red', 'dwarf']

In [50]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'red', 'dwarf']

In [51]:
x = b_list.pop(2) # index 2번째 것을 뽑아냄!! 그리고 제거됨!! 
print(b_list, x, sep="/")

['foo', 'red', 'dwarf']/red

In [52]:
b_list.append('foo') # 앞에서부터 찾아서 제거한다!!
b_list.remove('foo')
b_list

['red', 'dwarf', 'foo']

In [54]:
'dwarf' in b_list #있는지 없는지 check

True

#### Concatenating and combining lists

In [55]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [70]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [71]:
list_of_lists = [[1,2,3],[4,None,(3,2)], 'hello']

In [73]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
everything

[1, 2, 3, 4, None, (3, 2), 'h', 'e', 'l', 'l', 'o']

In [74]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

TypeError: can only concatenate list (not "str") to list

#### Sorting

In [75]:
a = [7, 2, 5, 1, 3]
a.sort()
a # 이 sort는 in-place operations 이라고 한다. 결과값이 바뀌니!!

[1, 2, 3, 5, 7]

In [79]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len, reverse=True) #sort하는데 len 함수가 적용이 되었네..
b

['small', 'foxes', 'saw', 'six', 'He']

In [78]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list

In [88]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.bisect(c, 5)) # 5를 넣게 된다면 어디에 들어가게 되는지 설명!!
print(c)
bisect.insort(c, 6) # 6은 없으니...
print(c) # 실제로 집어넣음!!

4
6
[1, 2, 2, 2, 3, 4, 7]
[1, 2, 2, 2, 3, 4, 6, 7]

In [92]:
d = [1,2,7,4,6,5]
print(bisect.bisect(d,3))

2

#### Slicing

In [105]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [94]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [95]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [99]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

In [101]:
seq[0]

7

In [103]:
seq[-0]

7

In [107]:
seq[::2]

[7, 3, 5, 0]

In [108]:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

### 리스트 및 튜플 복사에 대해서 알아보자

#### 1. 튜플복사

In [110]:
t1 = 1,2,3, [], ()

In [112]:
t2 = t1

In [116]:
t1 is t2

True

In [118]:
print(id(t1), id(t2), sep='\t')

80720160	80720160

In [120]:
print(hex(id(t1)), hex(id(t2)), sep='\t')

0x4cfb120	0x4cfb120

In [122]:
t3 = tuple(t1) # 주소값만 복사하네...

In [124]:
print(hex(id(t1)), hex(id(t2)), hex(id(t3)),sep='\t')

0x4cfb120	0x4cfb120	0x4cfb120

copy module

In [128]:
import copy # 깊은복제는 tuple안에 또 tuple이나 list가 있는 경우에 사용한다.

In [130]:
t4 = copy.copy(t1); t5 = copy.deepcopy(t1)

In [135]:
print(hex(id(t1)), hex(id(t4)), hex(id(t5)),sep='\t')# 잉 주소가 그대로이네,,, 
# 그래서 결론은 tuple 객체는 복사가 안된다.

0x4cfb120	0x4cfb120	0x4cfb120

**왜? => Immutable이기 때문이다..**

#### 2.리스트 복제

In [137]:
l1 = [1,2,3,4]

In [139]:
l2 = l1

In [141]:
l1 is l2

True

In [143]:
print(hex(id(l1)), hex(id(l2)), sep='\t')

0x4daa148	0x4daa148

In [147]:
l3 = list(range(1,5));l3 # range 쓸 수 있다!!

[1, 2, 3, 4]

In [149]:
print(hex(id(l1)), hex(id(l2)), hex(id(l3)),sep='\t')# list는 복제 되었지 주소 다르다!!

0x4daa148	0x4daa148	0x4dc92c8

In [152]:
l4 = list(l1)

In [153]:
print(hex(id(l1)), hex(id(l3)), hex(id(l4)),sep='\t')# list는 복제 되었지 주소 다르다!!

0x4daa148	0x4dc92c8	0x4dbce48

In [154]:
l5 = copy.copy(l1)
l6 = copy.deepcopy(l1)

In [155]:
print(hex(id(l1)), hex(id(l5)), hex(id(l6)),sep='\t')# 복제 할 때마다 주소 다르지!!!

0x4daa148	0x4daae48	0x4bbe608

#### 3.shallow copy VS. deep copy

deepcopy는 sub list 까지도 다 copy 하는거다!!

In [156]:
c = [1,2,[3,4,'hello'],10]

In [157]:
c

[1, 2, [3, 4, 'hello'], 10]

In [175]:
x = 1
x

1

In [176]:
print(hex(id(x)), hex(id(c[0])), sep='\t')

0x6969a9b0	0x6969a9b0

**같은주소에 있네!!!!!**
immutable 객체는 숫자형, 문자형, 그리고 튜플이다!!

In [177]:
print(hex(id(c)))

0x4d9b848

In [178]:
x = 2
y = [1,2,3]

In [181]:
print(hex(id(x)),hex(id(y)),hex(id(y[0])),hex(id(y[2])), sep='\t')

0x6969a9d0	0x4dc9c88	0x6969a9b0	0x6969a9f0

In [182]:
x = 3

In [184]:
print(hex(id(x)),hex(id(y)),hex(id(y[0])),hex(id(y[2])), sep='\t')
# x 값 바꾸니까, 주소값도 변하지!!

0x6969a9f0	0x4dc9c88	0x6969a9b0	0x6969a9f0

In [186]:
c1 = list(c)
c2 = copy.copy(c)
c3 = copy.deepcopy(c)

In [187]:
c

[1, 2, [3, 4, 'hello'], 10]

In [188]:
c1 is c

False

In [189]:
c2 is c

False

In [190]:
c3 is c

False

In [191]:
print(hex(id(c[1])), hex(id(c1[1])),hex(id(c2[1])),hex(id(c3[1])), sep='\t')

0x6969a9d0	0x6969a9d0	0x6969a9d0	0x6969a9d0

복제를 하기는 했지만 같은 곳을 가르키네.. 숫자형 문자형 이기 때문에!!

##### 그럼 리스트 내의 리스트는 복제되었을까? 참조되었을까?

In [192]:
print(hex(id(c[2])), hex(id(c1[2])),hex(id(c2[2])),hex(id(c3[2])), sep='\t')

0x4daa708	0x4daa708	0x4daa708	0x4dc9708

**마지막 값만 다르네!!** **deepcopy**를 했기 때문에!!

문제!!

In [196]:
z = [[8,[9]],5]
z1 = z
z2 = list(z) # 새로 list 만드니까!!
z3 = copy.deepcopy(z)

In [197]:
print(hex(id(z)),hex(id(z1)),hex(id(z2)),hex(id(z3)), sep='\t')

0x4dcd788	0x4dcd788	0x4fc3608	0x4dc94c8

In [198]:
print(hex(id(z[0])),hex(id(z1[0])),hex(id(z2[0])),hex(id(z3[0])), sep='\t')

0x4dbd4c8	0x4dbd4c8	0x4dbd4c8	0x4dcd288

In [201]:
print(hex(id(z[0][0])),hex(id(z1[0][0])),hex(id(z2[0][0])),hex(id(z3[0][0])), sep='\t')

0x6969aa90	0x6969aa90	0x6969aa90	0x6969aa90

In [202]:
print(hex(id(z[0][1])),hex(id(z1[0][1])),hex(id(z2[0][1])),hex(id(z3[0][1])), sep='\t')

0x4daa348	0x4daa348	0x4daa348	0x4dbc208

In [203]:
len(z)

2

In [204]:
c1, c2, c3 = 8, 9, 5

In [206]:
print(id(c3), id(z[1]), id(z2[1]), id(z3[1]), sep='\t')

1768532528	1768532528	1768532528	1768532528

위와 같이 확인 할 수 있다!!

### Built-in Sequence Functions

#### enumerate

In [207]:
i = 0
for value in collection:
   # do something with value
   i += 1

NameError: name 'collection' is not defined

In [208]:
for i, value in enumerate(collection):
   # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-208-f660a0a425c6>, line 2)

In [209]:
some_list = ['foo','bar','baz']
for index, item in enumerate(some_list):
    print(index, item)

0 foo
1 bar
2 baz

In [210]:
some_list = ['foo', 'bar', 'baz']
mapping = dict((v, i) for i, v in enumerate(some_list))
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### sorted

In [221]:
x = [7,1,2,6,0,3,2]
x.sort();x

[0, 1, 2, 2, 3, 6, 7]

In [222]:
y = sorted(x);y

[0, 1, 2, 2, 3, 6, 7]

In [218]:
x is y

False

In [223]:
print(x)
print(y)

[0, 1, 2, 2, 3, 6, 7]
[0, 1, 2, 2, 3, 6, 7]

In [224]:
a = [1,3,6,4,2]
b = sorted(a)

In [226]:
print(a,b)

[1, 3, 6, 4, 2] [1, 2, 3, 4, 6]

In [227]:
print(a is b, set(a) == set(b))

False True

In [214]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
sorted('horse race') # 걍 정렬한거임!!

[0, 1, 2, 2, 3, 6, 7]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [230]:
print(sorted(set('this is just some string'))) #unique되네...
print(set('this is just some string'))
print(sorted('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']
{'i', 'o', 'e', 'r', ' ', 'h', 's', 'u', 'n', 't', 'g', 'm', 'j'}
[' ', ' ', ' ', ' ', 'e', 'g', 'h', 'i', 'i', 'i', 'j', 'm', 'n', 'o', 'r', 's', 's', 's', 's', 's', 't', 't', 't', 'u']

#### zip

In [239]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
z = zip(seq1, seq2) # 이것도 lazy evaluation 이다. 일단 방법을 정의해 놓고 필요할 때만 실행해 쓴다!!!

In [240]:
z?

In [241]:
for val in list(z):
    print(val)

('foo', 'one')
('bar', 'two')
('baz', 'three')

In [242]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) # 가장 적은 개수에 맞춰서 묶어주네!!

[('foo', 'one', False), ('bar', 'two', True)]

In [243]:
for i, (a, b) in enumerate(zip(seq1, seq2)): #unpacking 한거지!!
    print('%d: %s, %s' % (i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [246]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers) # 각각의 원소가 풀어져서 들어가는거다!!
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [264]:
pitchers

[('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [266]:
list(zip(*pitchers))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [268]:
list(zip(pitchers[0],pitchers[1],pitchers[2])) # 위와 동일하지!!

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [271]:
list(zip(('Nolan', 'Ryan'),('Roger','Clemens'),('Schilling','Curt'))) # 위 풀어본거지.

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

- 이건 뭐지?? *특징으로 argument에 * 달아서 계속 받을 수 있다 값을 추가적으로!!!
argument관련 한다!!

In [273]:
def test_var_args(f_arg, *argv):
    print("first nomal arg:", f_arg)
    for arg in argv:
        print("another arg through *argv :", argv)

In [275]:
test_var_args(10)

first nomal arg: 10

In [277]:
test_var_args(10,11,12,13,14,15,16,17)

first nomal arg: 10
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)
another arg through *argv : (11, 12, 13, 14, 15, 16, 17)

In [280]:
def greet_me(**kwargs):
    if kwargs is not None:
        print(kwargs.keys())
        for key in kwargs.keys():
            print("%s == %s" %(key, kwargs[key]))

In [281]:
greet_me(a='hello', b='world', name='python')

dict_keys(['a', 'b', 'name'])
a == hello
b == world
name == python

#### reversed

In [282]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dict

In [283]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [284]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [285]:
'b' in d1

True

In [292]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
del d1[5]
print(d1)
ret = d1.pop('dummy')
print(ret)

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12, 'dummy': 'another value'}
another value

In [290]:
print(d1.keys())
print(d1.values())

dict_keys(['a', 'b', 7, 'c'])
dict_values(['some value', 'foo', 'an integer', 12])

key 값이 character랑 integer 섞여있는 것도 가능하네!!

In [289]:
d1.update({'b' : 'foo', 'c' : 12}) # 같은 키가 있는 경우의 update 주의해야지!! 당근
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [303]:
key_list = [1,2,3,4,1]
value_list = ['a','b','c','d','e']

In [304]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [305]:
mapping

{1: 'e', 2: 'b', 3: 'c', 4: 'd'}

In [302]:
mapping2 = dict(zip(range(5), reversed(range(5))))
mapping2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [307]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'some_dict' is not defined

In [309]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [312]:
d1.get('d','nothing') # 이 get이 위의 함수를 나타냄!!

'nothing'

In [ ]:
value = some_dict.get(key, default_value)

In [337]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0] # 이게 첫글자 따는 거네!!!
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

- setdefault를 사용해서 위를 간단히 만들 수 있다!!!!

In [338]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0] # 이게 첫글자 따는 거네!!!
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [334]:
d2 = {}

In [335]:
d2.setdefault('a',[])
d2

{'a': []}

In [336]:
d2.setdefault('a',[]).append('apple')
d2

{'a': ['apple']}

by_letter.setdefault(letter, []).append(word)

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
counts = defaultdict(lambda: 4)

#### Valid dict key types

In [ ]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### Set

In [339]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [341]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
print(a | b)  # union (or)
print(a & b)  # intersection (and)
print(a - b)  # difference
print(a ^ b)  # symmetric difference (xor) XOR!!

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{1, 2}
{1, 2, 6, 7, 8}

In [342]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [343]:
{1, 2, 3} == {3, 2, 1}

True

### List, set, and dict comprehensions

In [346]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]
# 여러줄로 하는 것 보다 이경우가 더 빠르다!!

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [347]:
result = []
for x in strings:
    if len(x) > 2:
        result.append(x.upper())
        print(result)
result

['BAT']
['BAT', 'CAR']
['BAT', 'CAR', 'DOVE']
['BAT', 'CAR', 'DOVE', 'PYTHON']

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [348]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [349]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [353]:
loc_mapping = dict((val, idx) for idx, val in enumerate(strings)) # 위와같다!!
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [362]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stephanie']]

In [371]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es) 
names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In [372]:
[name if name.count('e')>=2 else name.count('e') for name in all_data for name in names]

[1,
 1,
 0,
 0,
 0,
 'Jennifer',
 'Stephanie',
 1,
 1,
 0,
 0,
 0,
 'Jennifer',
 'Stephanie']

In [366]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2] # 2개 for문 인거지!!!
result

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In [367]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [369]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
# 이렇게 하면 안되지...

In [376]:
[[x for x in tup] for tup in some_tuples] # 이렇게도 사용하네!!

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Python Scopes and Namespaces

## Functions

In [385]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [386]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)

35.49

### Namespaces, scope, and local functions

In [381]:
def scope_test():
    def do_local():
        spam = "local spam"
        
    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"
        
    def do_global():
        global spam
        spam = "global spam"
    
    spam = "test spam"
    do_local()
    print("After local assignment : ", spam)
    do_nonlocal()
    print("After nonlocal assignment : ", spam)
    do_global()
    print("After global assignment : ", spam)
    
scope_test() # 함수 정의 위에서 끝나거 여기서 부터 시작하지!!
print("In global scope : ", spam)

After local assignment :  test spam
After nonlocal assignment :  nonlocal spam
After global assignment :  nonlocal spam
In global scope :  global spam

global이나 nonlocal을 권장하지는 않는다. 햇갈리니까!!
장점으로는 코드를 간결하게 쓸 수 있지!!!

In [384]:
dir('__main__') # 지금 접근 할 수 있는 것들을 보여준다!!

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [399]:
def func():
    a = []
    for i in range(5):
        a.append(i)
a

[]

In [402]:
a = [] # global namespace
def func():
    for i in range(5):
        a.append(i)

In [401]:
a = None
def bind_a_variable():
    global a # 여기서 global을 선언해 줬기 때문에 아래를 global로 쓸 수있다. 밖의 것을 가져다 씀!!!
    a = []
bind_a_variable()
print(a)

[]

In [390]:
def outer_function(x, y, z):
    def inner_function(a, b, c):
        pass
    pass

### Returning multiple values

In [407]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [408]:
return_value = f()
return_value

(5, 6, 7)

In [409]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [410]:
return_value = f()
return_value

{'a': 5, 'b': 6, 'c': 7}

### Functions are objects

In [415]:

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [416]:
import re  # Regular expression module

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # remove space except inner space
        value = re.sub('[!#?]', '', value) # remove punctuation(!,#,?)
        value = value.title() # 문자의 첫글자만 대문자로!!!
        result.append(value)
    return result

In [417]:
In [15]: clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [418]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]
# 함수를 객체로써 사용하네, 1급객체, list의 원소로 존재할 수 있다!!

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
# 이렇게 여러 함수를 돌리면서 사용하네,,,

- 위 2개의 방법이 같다 결과는!! 근데 함수를 어떻게 처리할지의 문제이지!!!
- 2번째 방법의 장점의 경우에 따라서 어떤 함수를 적용하고 싶지 않다면 ops(함수 목록)만 변경해주면 된다!! 함수를 직접수정 할 필요가 없다!!!

In [421]:
In [22]: clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [424]:
In [23]: list(map(remove_punctuation, states))
# 하둡의 map reduce 할 때 map과 같은거다!! map(함수, 함수가 적용 될 대상)

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

- MapReduce 개표를 생각하면 된다.
각 지역구에서 투표상자가 도착하고 이게 하둡의 block이지!! 
투표상자를 모아서 투표원들이 개표를 하지!! 이 투표원들이 mapper라고 생각하면 된다.

### Anonymous (lambda) functions, 다시 불러서 안쓰겠다!!

In [425]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [428]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2) # 함수를 lambda로 잠깐 만들어서 쓰고 버리네!!

[8, 0, 2, 10, 12]

In [443]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [444]:
strings.sort()
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [445]:
def unique_char(x):
    return len(set(list(x)))

In [446]:
strings.sort(key=unique_char)
strings

['aaaa', 'abab', 'foo', 'bar', 'card']

In [447]:
strings.sort(key=lambda x: len(set(list(x)))) #글자 쪼개서 unique 적용!
strings

['aaaa', 'abab', 'foo', 'bar', 'card']

In [448]:
list('aaaa')

['a', 'a', 'a', 'a']

### Closures: functions that return functions

In [451]:
def outer_func(): #1
    message = 'Hi' #3

    def inner_func(): #4
        print(message) #6 

    return inner_func() #5

outer_func() #2

Hi

In [454]:
def outer_func(): #1
    message = 'Hi' #3

    def inner_func(): #4
        print(message) #6 

    return inner_func #5 <-- ()를 지웠습니다.
                      # 함수 자체를 return 해 버린다!! inner function에 대한 정의를 return해 버림!!
outer_func() #2

In [455]:
def outer_func(): #1
    message = 'Hi' #3

    def inner_func(): #4
        print(message) #6 

    return inner_func #5

my_func = outer_func() #2

In [458]:
print(my_func)

<function outer_func.<locals>.inner_func at 0x0000000004DA9378>

In [463]:
my_func() # outer_func는 예전에 끝난거다!! 근데 안에 함수를 수행할 수 있네!!!
          # 1급 객체라서 별도로 수행 할수 있는거다. 이러한 과정을 closure라고 한다!!!!
          # outer function이 종료된 후에도 inner 작동 할 수 있는 것?!

Hi

- 1급 객체라서 별도로 수행 할수 있는거다. 이러한 과정을 closure라고 한다!!!!
outer function이 종료된 후에도 inner 작동 할 수 있는 것?!
환경을 만들어서 저장한다!!
- http://schoolofweb.net/blog/posts/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%ED%81%B4%EB%A1%9C%EC%A0%80-closure/
- message가 프리변수 인거다!!

In [466]:
def outer_func(tag):  #1
    tag = tag  #5

    def inner_func(txt):  #6
        text = txt  #8
        print('<{0}>{1}<{0}>'.format(tag, text))  #9, html 태그 형태 만들어 주는 거임!!

    return inner_func  #7

h1_func = outer_func('h1')  #2
p_func = outer_func('p')  #3

h1_func('h1태그의 안입니다.')  #4
p_func('p태그의 안입니다.')  #10

<h1>h1태그의 안입니다.<h1>
<p>p태그의 안입니다.<p>

In [467]:
def outer_func(tag):  #1

    def inner_func(txt):  #6
        print('<{0}>{1}<{0}>'.format(tag, txt))  #9, html 태그 형태 만들어 주는 거임!!

    return inner_func  #7

h1_func = outer_func('h1')  #2
p_func = outer_func('p')  #3

h1_func('h1태그의 안입니다.')  #4
p_func('p태그의 안입니다.')  #10

<h1>h1태그의 안입니다.<h1>
<p>p태그의 안입니다.<p>

In [ ]:
h1_func('wow')

In [4]:
def make_closure(a):
    def closure():
        print('I know the secret: %d' % a)
    return closure

closure = make_closure(5)

In [5]:
def make_watcher():
    have_seen = {}

    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True
            return False

    return has_been_seen

In [6]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

def make_counter():
    count = [0]
    def counter():
        # increment and return the current count
        count[0] += 1
        return count[0]
    return counter

counter = make_counter()

In [7]:
def format_and_pad(template, space):
    def formatter(x):
        return (template % x).rjust(space)

    return formatter

In [8]:
fmt = format_and_pad('%.4f', 15)
fmt(1.756)

'         1.7560'

### Extended call syntax with *args, **kwargs

In [ ]:
a, b, c = args
d = kwargs.get('d', d_default_value)
e = kwargs.get('e', e_default_value)

In [ ]:
def say_hello_then_call_f(f, *args, **kwargs):
    print 'args is', args
    print 'kwargs is', kwargs
    print("Hello! Now I'm going to call %s" % f)
    return f(*args, **kwargs)

def g(x, y, z=1):
    return (x + y) / z

In [ ]:
In [8]:  say_hello_then_call_f(g, 1, 2, z=5.)
args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x2dd5cf8>
Out[8]: 0.6

### Currying: partial argument application

In [12]:
def add_numbers(x, y):
    return x + y

In [13]:
add_five = lambda y: add_numbers(5, y)

In [14]:
from functools import partial
add_five = partial(add_numbers, 5)

In [ ]:
# compute 60-day moving average of time series x
ma60 = lambda x: pandas.rolling_mean(x, 60)

# Take the 60-day moving average of of all time series in data
data.apply(ma60)

### Generators

In [18]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [19]:
dict_iterator = iter(some_dict)
dict_iterator

In [20]:
list(dict_iterator)

['a', 'b', 'c']

In [23]:
def squares(n=10):
    for i in xrange(1, n + 1):
        print('Generating squares from 1 to %d' % (n ** 2))
        yield i ** 2

In [25]:
In [2]: gen = squares()
In [3]: gen

In [ ]:
In [4]: for x in gen:
   ...:     print x,
   ...:
Generating squares from 0 to 100
1 4 9 16 25 36 49 64 81 100

In [30]:
def make_change(amount, coins=[1, 5, 10, 25], hand=None):
    hand = [] if hand is None else hand
    if amount == 0:
        yield hand
    for coin in coins:
        # ensures we don't give too much change, and combinations are unique
        if coin > amount or (len(hand) > 0 and hand[-1] < coin):
            continue

        for result in make_change(amount - coin, coins=coins,
                                  hand=hand + [coin]):
            yield result

In [32]:
list(make_change(100, coins=[10,25,50]))

[[10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
 [25, 25, 10, 10, 10, 10, 10],
 [25, 25, 25, 25],
 [50, 10, 10, 10, 10, 10],
 [50, 25, 25],
 [50, 50]]

In [29]:
for way in make_change(100, coins=[10, 25, 50]):
    print(way)
len(list(make_change(100)))

[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
[25, 25, 10, 10, 10, 10, 10]
[25, 25, 25, 25]
[50, 10, 10, 10, 10, 10]
[50, 25, 25]
[50, 50]

242

#### Generator expresssions

In [37]:
gen = (x ** 2 for x in range(100))
gen

In [38]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [2]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [41]:
import itertools
first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## Files and the operating system

In [42]:
path = 'ch13/segismundo.txt'
f = open(path)

In [43]:
for line in f:
    pass

In [44]:
lines = [x.rstrip() for x in open(path)]
lines

['Sue챰a el rico en su riqueza,',
 'que m찼s cuidados le ofrece;',
 '',
 'sue챰a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue챰a el que a medrar empieza,',
 'sue챰a el que afana y pretende,',
 'sue챰a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi처n,',
 'todos sue챰an lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [45]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

open('tmp.txt').readlines()

['Sue챰a el rico en su riqueza,\n',
 'que m찼s cuidados le ofrece;\n',
 'sue챰a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue챰a el que a medrar empieza,\n',
 'sue챰a el que afana y pretende,\n',
 'sue챰a el que agravia y ofende,\n',
 'y en el mundo, en conclusi처n,\n',
 'todos sue챰an lo que son,\n',
 'aunque ninguno lo entiende.\n']