# Time series

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [2]:
%matplotlib inline

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' #last도 있음

## Date and Time Data Types and Tools

In [4]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 9, 12, 10, 14, 17, 607241)

datatime.MINYEAR == 1
datatime.MAXYEAR == 9999 이다

- Available Types
    - date
    - time
    - datetime (year, month, day, hour, minute, second, microsecond and tzinfo)
    - timedelta (delta는 변화량을 뜻한다!!)
    - tzinfo
    - timezone

- Subclass relationships:
- object
    - timedelta
    - tzinfo
        - timezone
    - time
    - date
        - datetime

https://docs.python.org/3/library/datetime.html

In [8]:
import datetime
datetime.MINYEAR
datetime.MAXYEAR
datetime

1

9999

In [10]:
from datetime import datetime
datetime
datetime.MINYEAR
datetime.MAXYEAR

# datetime 이름이 변해서 오류가 발생한 거다!! 
# 그래서 이경우 datetime.datetime.MINYEAR를 호출하게 된 거다 그래서 에러가 발생한 것임!!

datetime.datetime

AttributeError: type object 'datetime.datetime' has no attribute 'MINYEAR'

In [14]:
now = datetime.now()
now
now.year, now.month, now.day
now.hour, now.minute, now.second, now.microsecond # 튜플로 출력됨!!

datetime.datetime(2017, 9, 12, 10, 32, 8, 55856)

(2017, 9, 12)

(10, 32, 8, 55856)

In [26]:
datetime.now(timezone.utc) # ??
# today는 local datetime을 반환한다!!!

NameError: name 'timezone' is not defined

#### # timedelta형

In [27]:
now.year, now.month, now.day

(2017, 9, 12)

In [28]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [29]:
delta.days

926

In [30]:
delta.seconds

56700

In [32]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12,3600) # default는 day로 되어있네, timedelta

datetime.datetime(2011, 1, 19, 1, 0)

In [25]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting between string and datetime

#### # datetime ==> 문자열
- datetime.strftime('포맷 규칙')
- format code 책 397p

In [33]:
stamp = datetime(2011, 1, 3)

In [34]:
str(stamp)

'2011-01-03 00:00:00'

In [37]:
stamp.strftime('%Y-%m-%d')
stamp.strftime('%F') # 자주쓰는 형식이어서 간편화 해둔거임!

'2011-01-03'

'2011-01-03'

#### # 문자열 ==> datetime
- datetime.strptime(datetime 객체.'포맷 규칙')

In [38]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [39]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs] # 이런 형태를 list conprehension 이라고 한다!

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

#### # dateutil 패키지는 거의 대부분의 사람이 인지하는 날짜 표현 방식 파싱 가능

In [40]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [41]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [43]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [45]:
parse('9/10-2017')

datetime.datetime(2017, 9, 10, 0, 0)

In [46]:
parse('9   10  2017')

datetime.datetime(2017, 9, 10, 0, 0)

#### # 유럽 여러 나라에서처럼 날짜가 월 앞에 오는 경우

In [54]:
pd.to_datetime(datestrs)
# note: output changed (no '00:00:00' anymore)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [57]:
parse('6/12/2011')
parse('6/12/2011', dayfirst=True) # day를 먼저 적어주네!! 
parse('6/23/2011', dayfirst=True) # option 반영 가능한 경우에만 반영해주지!!!

datetime.datetime(2011, 6, 12, 0, 0)

datetime.datetime(2011, 12, 6, 0, 0)

datetime.datetime(2011, 6, 23, 0, 0)

#### # pandas.to_datetime()
- 단일 날짜: pandas.Timestamp 형으로 변환
- 날짜의 배열: pandas.DatetimeIndex


https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html

In [59]:
pd.to_datetime('2017-9-17')

Timestamp('2017-09-17 00:00:00')

In [62]:
datestrs

['7/6/2011', '8/6/2011']

In [63]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

#### # 누락된 날짜 데이터 처리
- NaT (Not a Time)

In [64]:
datestrs + [None]

['7/6/2011', '8/6/2011', None]

In [65]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [66]:
idx[2]

NaT

In [67]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

## Time Series Basics

#### # pands 시간 데이터 타입 보심

#### # 시계열 데이터
- 파이썬 문자열 또는 datetime 객체로 표현되는 Timestamp 인덱스의 Series 객체
- datetime 객체의 경우 Timestamp 타입으로 자동 변환되나 정렬되지 않음

In [88]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 1)]
# index 인자로 입력된 datetime 리스트가 자동으로 DatetimeIndex 객체로 변환됨
ts1 = Series(np.random.randn(6), index=dates)
ts1
# 졍렬되지 않았지!!

2011-01-02   -1.705824
2011-01-05   -0.826128
2011-01-07    0.514369
2011-01-08    0.815526
2011-01-10    0.339427
2011-01-01    0.885710
dtype: float64

In [89]:
type(ts1)
# note: output changed to "pandas.core.series.Series"

pandas.core.series.Series

In [90]:
ts1.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-01'],
              dtype='datetime64[ns]', freq=None)

In [91]:
ts1.index[0]

Timestamp('2011-01-02 00:00:00')

#### # DatetimeIndex의 스칼라 값 : pandas의 Timestamp 객체

In [92]:
stamp = ts1.index[0]
stamp
type(ts1.index)
type(ts1.index[0])

Timestamp('2011-01-02 00:00:00')

pandas.core.indexes.datetimes.DatetimeIndex

pandas._libs.tslib.Timestamp

#### # index 인자로 날짜 문자열의 리스트를 대입하는 경우

In [93]:
ts1.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-01'],
              dtype='datetime64[ns]', freq=None)

In [97]:
ts1 + ts1[::2] # index가 같은 것 끼리 연산됨!! 
# 연산하고 나니 sort가 되어있음!!

2011-01-01         NaN
2011-01-02   -3.411649
2011-01-05         NaN
2011-01-07    1.028738
2011-01-08         NaN
2011-01-10    0.678853
dtype: float64

#### # Timestamp의 정밀도 : 나노초(ns)

In [98]:
ts1.index.dtype
# note: output changed from dtype('datetime64[ns]') to dtype('<M8[ns]')

dtype('<M8[ns]')

In [99]:
stamp = ts1.index[0]
stamp
# note: output changed from <Timestamp: 2011-01-02 00:00:00> to Timestamp('2011-01-02 00:00:00')

Timestamp('2011-01-02 00:00:00')

### Indexing, selection, subsetting

#### # pandas 시간 인덱스 하나의 값 접근하기(indexing)
- pandas Timestamp 객체
- python 문자열
    - 시계열 데이터의 인덱스가 정렬되어 있지 않으면 Series 객체가 반환됨
- python datetime 객체

In [106]:
ts1
print("=====")
stamp = ts1.index[2]; stamp
print("=====")
ts1[stamp]
print("=====")
ts1['2011-01-07']
print("=====")
ts1['1-7/2011']
print("=====")
ts1['20110110'] # series 가 return 되었지!! 정렬되어 있지 않아서!!

2011-01-02   -1.705824
2011-01-05   -0.826128
2011-01-07    0.514369
2011-01-08    0.815526
2011-01-10    0.339427
2011-01-01    0.885710
dtype: float64

=====

Timestamp('2011-01-07 00:00:00')

=====

0.51436897217662736

=====

2011-01-07    0.514369
dtype: float64

=====

2011-01-07    0.514369
dtype: float64

=====

2011-01-10    0.339427
dtype: float64

In [108]:
ts1[datetime(2011,1,7)] # scalar value

0.51436897217662736

#### # 년 또는 월만 넘겨서 해당 기간의 데이터만 선택

In [110]:
longer_ts = Series(np.random.randn(1000), # 값 랜덤하게 1000개 만들고 
                   index=pd.date_range('8/1/2017', periods=1000)) # 랜덤값의 index로 2017/8/1 부터 시작해서 하루간격으로 1000개 만들어 준다! 
                                                                  # default가 day 인거다!! freq
longer_ts

2017-08-01   -0.272068
2017-08-02   -2.502806
2017-08-03   -0.778196
2017-08-04   -1.332224
2017-08-05   -2.076513
2017-08-06   -1.097955
                ...
2020-04-21    0.315642
2020-04-22   -1.414505
2020-04-23    0.029296
2020-04-24    1.222664
2020-04-25    0.347540
2020-04-26   -0.159237
Freq: D, Length: 1000, dtype: float64

In [112]:
longer_ts['2017']

2017-08-01   -0.272068
2017-08-02   -2.502806
2017-08-03   -0.778196
2017-08-04   -1.332224
2017-08-05   -2.076513
2017-08-06   -1.097955
                ...
2017-12-26    0.911735
2017-12-27    1.516615
2017-12-28    0.169342
2017-12-29   -1.646487
2017-12-30    0.778411
2017-12-31    2.180955
Freq: D, Length: 153, dtype: float64

In [115]:
longer_ts['2017-10'] # 날짜가 index에 들어가 있다!! 이게 시계열 데이터이다!!

2017-10-01   -0.920922
2017-10-02   -2.955885
2017-10-03   -1.475376
2017-10-04    0.546086
2017-10-05    0.561616
2017-10-06   -0.683044
                ...
2017-10-26   -1.454166
2017-10-27    0.063531
2017-10-28    0.141912
2017-10-29    0.243933
2017-10-30   -0.281812
2017-10-31    1.228327
Freq: D, Length: 31, dtype: float64

#### # 날짜로 데이터 자르기
- 원본 시계열 데이터에 대한 뷰가 됨

In [120]:
ts[datetime(2011,1,7):]
ts1[datetime(2011,1,7):]

2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

2011-01-07    0.514369
2011-01-08    0.815526
2011-01-10    0.339427
2011-01-01    0.885710
dtype: float64

In [121]:
ts
ts['1/6/2011':'1/11/2011']
ts['1/6/2011':'1/10/2011'] # 마지막 1/10/2011 포함되네!! 레이블로 동작이 되기 때문이다!!

2011-01-02    1.476905
2011-01-05    0.664959
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
dtype: float64

2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
dtype: float64

#### 시계열 데이터를 특정 날짜를 기준으로 앞 또는 뒤 시계열 데이터를 버리기
- 특정 날짜는 버려지지 않음

In [124]:
ts
ts.truncate(after='1/8/2011') # 이후를 버리고, 이전을 취하겠다.
ts.truncate(before='1/8/2011') # 이전을 버리고 이후를 취하겠다.
# 단, 날짜순으로 자르는 것이 아니다. 순서대로 자르는 것이다!!!

2011-01-02    1.476905
2011-01-05    0.664959
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

2011-01-02    1.476905
2011-01-05    0.664959
2011-01-07   -0.956045
2011-01-08   -1.759196
dtype: float64

2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

#### # 시계열 데이터 접근(indexing) 방식은 데이터프레임에도 동일하게 적용
- 로우 인덱스에 적용

In [126]:
dates = pd.date_range('1/1/2017', periods=100, freq='W-WED')
# frep='W-WED' 매주 수요일 날짜로 만들어지게 된다!! 
dates

DatetimeIndex(['2017-01-04', '2017-01-11', '2017-01-18', '2017-01-25',
               '2017-02-01', '2017-02-08', '2017-02-15', '2017-02-22',
               '2017-03-01', '2017-03-08', '2017-03-15', '2017-03-22',
               '2017-03-29', '2017-04-05', '2017-04-12', '2017-04-19',
               '2017-04-26', '2017-05-03', '2017-05-10', '2017-05-17',
               '2017-05-24', '2017-05-31', '2017-06-07', '2017-06-14',
               '2017-06-21', '2017-06-28', '2017-07-05', '2017-07-12',
               '2017-07-19', '2017-07-26', '2017-08-02', '2017-08-09',
               '2017-08-16', '2017-08-23', '2017-08-30', '2017-09-06',
               '2017-09-13', '2017-09-20', '2017-09-27', '2017-10-04',
               '2017-10-11', '2017-10-18', '2017-10-25', '2017-11-01',
               '2017-11-08', '2017-11-15', '2017-11-22', '2017-11-29',
               '2017-12-06', '2017-12-13', '2017-12-20', '2017-12-27',
               '2018-01-03', '2018-01-10', '2018-01-17', '2018-01-24',
               '2018-01-31', '2018-02-07', '2018-02-14', '2018-02-21',
               '2018-02-28', '2018-03-07', '2018-03-14', '2018-03-21',
               '2018-03-28', '2018-04-04', '2018-04-11', '2018-04-18',
               '2018-04-25', '2018-05-02', '2018-05-09', '2018-05-16',
               '2018-05-23', '2018-05-30', '2018-06-06', '2018-06-13',
               '2018-06-20', '2018-06-27', '2018-07-04', '2018-07-11',
               '2018-07-18', '2018-07-25', '2018-08-01', '2018-08-08',
               '2018-08-15', '2018-08-22', '2018-08-29', '2018-09-05',
               '2018-09-12', '2018-09-19', '2018-09-26', '2018-10-03',
               '2018-10-10', '2018-10-17', '2018-10-24', '2018-10-31',
               '2018-11-07', '2018-11-14', '2018-11-21', '2018-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [128]:
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df
long_df.loc['9-2017']
long_df.loc['2017/09']

            Colorado     Texas  New York      Ohio
2017-01-04 -0.392736 -0.301864  0.348333  0.820155
2017-01-11 -1.076162 -0.129404  0.274317 -0.287926
2017-01-18 -0.919620  0.667484  1.575532  1.072397
2017-01-25  1.819149  0.519918  3.274897 -0.813508
2017-02-01 -0.602104 -2.119749  0.588756 -0.042824
2017-02-08  2.426778 -0.128265 -0.805717 -0.540026
...              ...       ...       ...       ...
2018-10-24 -1.411269 -0.067142  0.054742 -0.033737
2018-10-31 -1.743825 -1.219785  0.180623  1.460428
2018-11-07 -0.787771 -1.501495  1.536588 -1.793871
2018-11-14  0.325050  0.334176 -0.743046 -1.465022
2018-11-21 -1.367288 -0.880655  0.053707 -1.486500
2018-11-28 -0.510832  0.740716  0.670087  0.836317

[100 rows x 4 columns]

            Colorado     Texas  New York      Ohio
2017-09-06  0.354294 -1.851938 -0.011219 -0.727502
2017-09-13  0.647798 -2.368859  1.551513 -1.644752
2017-09-20  0.334278  0.398981  0.284381  0.292227
2017-09-27 -0.335411  1.243745  0.365250 -0.355083

            Colorado     Texas  New York      Ohio
2017-09-06  0.354294 -1.851938 -0.011219 -0.727502
2017-09-13  0.647798 -2.368859  1.551513 -1.644752
2017-09-20  0.334278  0.398981  0.284381  0.292227
2017-09-27 -0.335411  1.243745  0.365250 -0.355083

## 10.2.2 Time series with duplicate indices

In [130]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])
dates
dup_ts = Series(np.arange(5), index=dates)
dup_ts

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

#### # 시계열 데이터의 인덱스가 유일한지 테스트

In [131]:
dup_ts.index.is_unique

False

#### # 시계열 데이터 접근(indexing)
- 시간 인덱스가 유일 ==> 스칼라
- 시간 인덱스가 유일X ==> 시계열

In [137]:
dup_ts['1/3/2000']  # not duplicated

4

In [133]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

#### # Timestamp 인덱스로 그룹 지어서 집계

In [141]:
grouped = dup_ts.groupby(level=0)
list(grouped)
grouped.count() # count() 등등 groupby 함수의 method 들이다!! 
grouped.mean()

[(Timestamp('2000-01-01 00:00:00'), 2000-01-01    0
  dtype: int32), (Timestamp('2000-01-02 00:00:00'), 2000-01-02    1
  2000-01-02    2
  2000-01-02    3
  dtype: int32), (Timestamp('2000-01-03 00:00:00'), 2000-01-03    4
  dtype: int32)]

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

## 10.3 Date ranges, Frequencies, and Shifting

In [142]:
ts

2011-01-02    1.476905
2011-01-05    0.664959
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

#### # 시간이 불규칙적인 시계열 ==> 고정 빈도 시계열
- resample api가 좀 더 GROUPBY 처럼 변경됨(v0.18.0)
- asfreq(): 빈도가 변경된 시계열을 반환
- DataOffset objects
- Frequency strings (Offset aliases)

In [143]:
ts

2011-01-02    1.476905
2011-01-05    0.664959
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-10   -1.127979
2011-01-01   -0.158896
dtype: float64

In [145]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [153]:
ts.resample('D').asfreq() # 중간중간을 NaN으로 채워주네!!!

2011-01-01   -0.158896
2011-01-02    1.476905
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.664959
2011-01-06         NaN
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-09         NaN
2011-01-10   -1.127979
Freq: D, dtype: float64

In [154]:
ts.resample('D').asfreq(0)

2011-01-01   -0.158896
2011-01-02    1.476905
2011-01-03    0.000000
2011-01-04    0.000000
2011-01-05    0.664959
2011-01-06    0.000000
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-09    0.000000
2011-01-10   -1.127979
Freq: D, dtype: float64

In [151]:
ts.resample('D').sum() # D, calender day frequency 등등 여러가지 있음!! B(Business day)

2011-01-01   -0.158896
2011-01-02    1.476905
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.664959
2011-01-06         NaN
2011-01-07   -0.956045
2011-01-08   -1.759196
2011-01-09         NaN
2011-01-10   -1.127979
Freq: D, dtype: float64

In [152]:
ts.resample('3d')
ts.resample('3d').sum() # 3일 간격으로 sun을 해주는데,,, 마지마가에 꼬리가 잘릴수도 있다!! 3일 채워지지 않고 하루남아 있으면 출력하지 않음!!

DatetimeIndexResampler [freq=<3 * Days>, axis=0, closed=left, label=left, convention=start, base=0]

2011-01-01    1.318009
2011-01-04    0.664959
2011-01-07   -2.715241
2011-01-10   -1.127979
Freq: 3D, dtype: float64

### 10.3.1 Generating date ranges
- pandas.date_range(): DatetimeIndex 생성

https://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [155]:
index = pd.date_range('8/1/2017', '10/1/2017') # 간격 생력한면 기본값은 day임! 
index

DatetimeIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
               '2017-08-05', '2017-08-06', '2017-08-07', '2017-08-08',
               '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-12',
               '2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16',
               '2017-08-17', '2017-08-18', '2017-08-19', '2017-08-20',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-26', '2017-08-27', '2017-08-28',
               '2017-08-29', '2017-08-30', '2017-08-31', '2017-09-01',
               '2017-09-02', '2017-09-03', '2017-09-04', '2017-09-05',
               '2017-09-06', '2017-09-07', '2017-09-08', '2017-09-09',
               '2017-09-10', '2017-09-11', '2017-09-12', '2017-09-13',
               '2017-09-14', '2017-09-15', '2017-09-16', '2017-09-17',
               '2017-09-18', '2017-09-19', '2017-09-20', '2017-09-21',
               '2017-09-22', '2017-09-23', '2017-09-24', '2017-09-25',
               '2017-09-26', '2017-09-27', '2017-09-28', '2017-09-29',
               '2017-09-30', '2017-10-01'],
              dtype='datetime64[ns]', freq='D')

In [156]:
pd.date_range(start='8/1/2017', periods=20)

DatetimeIndex(['2017-08-01', '2017-08-02', '2017-08-03', '2017-08-04',
               '2017-08-05', '2017-08-06', '2017-08-07', '2017-08-08',
               '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-12',
               '2017-08-13', '2017-08-14', '2017-08-15', '2017-08-16',
               '2017-08-17', '2017-08-18', '2017-08-19', '2017-08-20'],
              dtype='datetime64[ns]', freq='D')

In [159]:
pd.date_range(end='10/1/2017', periods=20)

DatetimeIndex(['2017-09-12', '2017-09-13', '2017-09-14', '2017-09-15',
               '2017-09-16', '2017-09-17', '2017-09-18', '2017-09-19',
               '2017-09-20', '2017-09-21', '2017-09-22', '2017-09-23',
               '2017-09-24', '2017-09-25', '2017-09-26', '2017-09-27',
               '2017-09-28', '2017-09-29', '2017-09-30', '2017-10-01'],
              dtype='datetime64[ns]', freq='D')

In [164]:
pd.date_range('4/15/2017','12/15/2017', freq='W')

DatetimeIndex(['2017-04-16', '2017-04-23', '2017-04-30', '2017-05-07',
               '2017-05-14', '2017-05-21', '2017-05-28', '2017-06-04',
               '2017-06-11', '2017-06-18', '2017-06-25', '2017-07-02',
               '2017-07-09', '2017-07-16', '2017-07-23', '2017-07-30',
               '2017-08-06', '2017-08-13', '2017-08-20', '2017-08-27',
               '2017-09-03', '2017-09-10', '2017-09-17', '2017-09-24',
               '2017-10-01', '2017-10-08', '2017-10-15', '2017-10-22',
               '2017-10-29', '2017-11-05', '2017-11-12', '2017-11-19',
               '2017-11-26', '2017-12-03', '2017-12-10'],
              dtype='datetime64[ns]', freq='W-SUN')

#### # 매월 마지막 영업일 포함

In [165]:
pd.date_range('1/1/2017', '12/1/2017', freq='BM') # 범위안의 날짜들만 나오지!!
pd.date_range('1/1/2017', '12/31/2017', freq='BM') # BM은 Business 마지막날 인거다!!

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-28',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-29', '2017-10-31', '2017-11-30'],
              dtype='datetime64[ns]', freq='BM')

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-28',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [166]:
pd.date_range('9/11/2017 12:56:31', periods=5)

DatetimeIndex(['2017-09-11 12:56:31', '2017-09-12 12:56:31',
               '2017-09-13 12:56:31', '2017-09-14 12:56:31',
               '2017-09-15 12:56:31'],
              dtype='datetime64[ns]', freq='D')

#### # 자정에 맞추어 타임스탬프 정규화(normalization)
- start, end 날짜를 자정으로 정규화한 후 date range 실행

In [167]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True) # 정오로 맞추고 싶다면 nomalize만 가지고는 안된다.

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### 10.3 Frequencies and Date Offsets
- DateOffset objects

In [168]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [169]:
four_hours = Hour(4)
four_hours

#### # 위와 같이 객체를 직접 만들기 보단 아래처럼 간단한 문자열의 형태로 사용

In [171]:
pd.date_range('9/1/2000', '9/3/2017 23:59', freq=Hour(4))
pd.date_range('9/1/2000', '9/3/2017 23:59', freq='4h')

DatetimeIndex(['2000-09-01 00:00:00', '2000-09-01 04:00:00',
               '2000-09-01 08:00:00', '2000-09-01 12:00:00',
               '2000-09-01 16:00:00', '2000-09-01 20:00:00',
               '2000-09-02 00:00:00', '2000-09-02 04:00:00',
               '2000-09-02 08:00:00', '2000-09-02 12:00:00',
               ...
               '2017-09-02 08:00:00', '2017-09-02 12:00:00',
               '2017-09-02 16:00:00', '2017-09-02 20:00:00',
               '2017-09-03 00:00:00', '2017-09-03 04:00:00',
               '2017-09-03 08:00:00', '2017-09-03 12:00:00',
               '2017-09-03 16:00:00', '2017-09-03 20:00:00'],
              dtype='datetime64[ns]', length=37272, freq='4H')

DatetimeIndex(['2000-09-01 00:00:00', '2000-09-01 04:00:00',
               '2000-09-01 08:00:00', '2000-09-01 12:00:00',
               '2000-09-01 16:00:00', '2000-09-01 20:00:00',
               '2000-09-02 00:00:00', '2000-09-02 04:00:00',
               '2000-09-02 08:00:00', '2000-09-02 12:00:00',
               ...
               '2017-09-02 08:00:00', '2017-09-02 12:00:00',
               '2017-09-02 16:00:00', '2017-09-02 20:00:00',
               '2017-09-03 00:00:00', '2017-09-03 04:00:00',
               '2017-09-03 08:00:00', '2017-09-03 12:00:00',
               '2017-09-03 16:00:00', '2017-09-03 20:00:00'],
              dtype='datetime64[ns]', length=37272, freq='4H')

In [172]:
Hour(2) + Minute(30)

In [175]:
pd.date_range('9/1/2017', periods=10, freq='1h30min') # 1h30T로 쓸 수도 있지

DatetimeIndex(['2017-09-01 00:00:00', '2017-09-01 01:30:00',
               '2017-09-01 03:00:00', '2017-09-01 04:30:00',
               '2017-09-01 06:00:00', '2017-09-01 07:30:00',
               '2017-09-01 09:00:00', '2017-09-01 10:30:00',
               '2017-09-01 12:00:00', '2017-09-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### # Anchored Offset
- 교재 표 10-4. 408p 기본 시계열 빈도 있음
- https://pandas.pydata.org/pandas-docs/stable/timeseries.html

### # 월별주차(WOM, Week of month)

In [176]:
# 매월 셋째 주 금요일
rng = pd.date_range('1/1/2017', '10/1/2017', freq='WOM-3FRI')
list(rng)

[Timestamp('2017-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-03-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-04-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-05-19 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-06-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-07-21 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-08-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2017-09-15 00:00:00', freq='WOM-3FRI')]

### 10.3.3 Shifting (leading and lagging) data

In [177]:
ts = Series(np.random.randn(4),
            index=pd.date_range('9/1/2017', periods=4, freq='M'))
ts

2017-09-30   -0.838834
2017-10-31   -1.729436
2017-11-30   -0.637009
2017-12-31    0.195149
Freq: M, dtype: float64

#### # 느슨한 시프트
- 시간 인덱스는 그대로, 데이터만 이동
- 데이터가 버려질 수 있음

In [178]:
ts.shift(2)

2017-09-30         NaN
2017-10-31         NaN
2017-11-30   -0.838834
2017-12-31   -1.729436
Freq: M, dtype: float64

In [179]:
ts.shift(-2)

2017-09-30   -0.637009
2017-10-31    0.195149
2017-11-30         NaN
2017-12-31         NaN
Freq: M, dtype: float64

#### # 시계열에서의 퍼센트 변화 계산 시

In [184]:
ts
ts.shift(1)
ts / ts.shift(1) 
ts / ts.shift(1) - 1 
# 위가 의미하는 것은, # 몇배 증가했는지 계산
# percent change

2017-09-30   -0.838834
2017-10-31   -1.729436
2017-11-30   -0.637009
2017-12-31    0.195149
Freq: M, dtype: float64

2017-09-30         NaN
2017-10-31   -0.838834
2017-11-30   -1.729436
2017-12-31   -0.637009
Freq: M, dtype: float64

2017-09-30         NaN
2017-10-31    2.061714
2017-11-30    0.368333
2017-12-31   -0.306353
Freq: M, dtype: float64

2017-09-30         NaN
2017-10-31    1.061714
2017-11-30   -0.631667
2017-12-31   -1.306353
Freq: M, dtype: float64

In [187]:
ts.pct_change()
# ts / ts.shift(1) - 1  이것과 결과가 같다!!

2017-09-30         NaN
2017-10-31    1.061714
2017-11-30   -0.631667
2017-12-31   -1.306353
Freq: M, dtype: float64

In [ ]:
ts.pct_change(2) # 2가 period이다!! 
# percent 변화량이지!!!

#### # freq 인자에 같은 빈도를 주면 인덱스가 변경됨

In [189]:
ts
ts.shift(2, freq='M') # freq 를 같이주면 Index만 움직인다!

2017-09-30   -0.838834
2017-10-31   -1.729436
2017-11-30   -0.637009
2017-12-31    0.195149
Freq: M, dtype: float64

2017-11-30   -0.838834
2017-12-31   -1.729436
2018-01-31   -0.637009
2018-02-28    0.195149
Freq: M, dtype: float64

#### # freq 인자에 다른 빈도를 주면

In [191]:
ts
ts.shift(3, freq='D') # 3일 뒤 값으로 바꿔라!!!

2017-09-30   -0.838834
2017-10-31   -1.729436
2017-11-30   -0.637009
2017-12-31    0.195149
Freq: M, dtype: float64

2017-10-03   -0.838834
2017-11-03   -1.729436
2017-12-03   -0.637009
2018-01-03    0.195149
dtype: float64

In [193]:
ts.shift(1, freq='3D') # 위와 동일하다!!

2017-10-03   -0.838834
2017-11-03   -1.729436
2017-12-03   -0.637009
2018-01-03    0.195149
dtype: float64

In [194]:
ts.shift(1, freq='90T') # 90min 과 같지!!

2017-09-30 01:30:00   -0.838834
2017-10-31 01:30:00   -1.729436
2017-11-30 01:30:00   -0.637009
2017-12-31 01:30:00    0.195149
Freq: M, dtype: float64

#### # Shifting dates with offsets

In [196]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(1990, 3, 8)
now + 3 * Day()

Timestamp('1990-03-11 00:00:00')

In [197]:
now + MonthEnd()

Timestamp('1990-03-31 00:00:00')

In [198]:
now + MonthEnd(2)

Timestamp('1990-04-30 00:00:00')

#### # rollforward(), rollback()
- 해당 offset objects 의 정수배만큼 입력된 날짜 데이터에 대해 적용

In [199]:
offset = MonthEnd()
offset.rollforward(now) # now + MonthEnd() 와 동일

Timestamp('1990-03-31 00:00:00')

In [200]:
offset.rollback(now) # now - MonthEnd() 와 동일

Timestamp('1990-02-28 00:00:00')

In [204]:
ts = Series(np.random.randn(20),
            index=pd.date_range('9/15/2017', periods=20, freq='4d'))
ts
list(ts.groupby(offset.rollforward))
ts.groupby(offset.rollforward).mean() # groupby에 ()안에 함수에는 index가 들어가는 것이다!!!
                                      # 여기서는 rollforward에 들어가는 것이지!!

2017-09-15   -1.204626
2017-09-19   -0.291486
2017-09-23   -1.067122
2017-09-27    1.286890
2017-10-01    0.541904
2017-10-05    0.369053
                ...
2017-11-10   -0.249829
2017-11-14    0.136331
2017-11-18    0.706253
2017-11-22    1.717836
2017-11-26    0.921833
2017-11-30    0.214894
Freq: 4D, Length: 20, dtype: float64

[(Timestamp('2017-09-30 00:00:00'), 2017-09-15   -1.204626
  2017-09-19   -0.291486
  2017-09-23   -1.067122
  2017-09-27    1.286890
  Freq: 4D, dtype: float64),
 (Timestamp('2017-10-31 00:00:00'), 2017-10-01    0.541904
  2017-10-05    0.369053
  2017-10-09    0.765174
  2017-10-13    0.621605
  2017-10-17    2.197488
  2017-10-21    1.502131
  2017-10-25    0.121718
  2017-10-29   -1.268033
  Freq: 4D, dtype: float64),
 (Timestamp('2017-11-30 00:00:00'), 2017-11-02    0.149424
  2017-11-06   -0.158141
  2017-11-10   -0.249829
  2017-11-14    0.136331
  2017-11-18    0.706253
  2017-11-22    1.717836
  2017-11-26    0.921833
  2017-11-30    0.214894
  Freq: 4D, dtype: float64)]

2017-09-30   -0.319086
2017-10-31    0.606380
2017-11-30    0.429825
dtype: float64

In [207]:
# ts.resample('M', how='mean')
ts.resample('M').mean()

2017-09-30   -0.319086
2017-10-31    0.606380
2017-11-30    0.429825
Freq: M, dtype: float64

# 10.4 Time Zone(시간대) Handling
- DST(일광절약시간, Day Saving Time, 서머 타임)
- UTC(국제표준시, Coordinated Universal Time, 협정세계시)

#### # pytz 패키지
- Olson 시간대 데이터베이스를 기준으로 한, 역사적인 시간대와 현대적인 시간대를 모두 망라하고 있는 라이브러리
    - https://pypi.python.org/pypi/pytz
    - http://www.haruair.com/blog/1759

In [213]:
import pytz
pytz.common_timezones[-10:]
[ x for x in pytz.common_timezones if x.startswith('Asia')][:10]
[ x for x in pytz.common_timezones if x.endswith('Seoul')]

['Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

['Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain']

['Asia/Seoul']

In [215]:
tz = pytz.timezone('US/Eastern')
# tz = pytz.timezone('Asia/Seoul')
tz

## 10.4.1 Localization and Conversion

#### # 명시하지 않는한 시계열의 시간대(timezone)는 None

In [216]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.067332
2012-03-10 09:30:00   -0.291864
2012-03-11 09:30:00   -0.445705
2012-03-12 09:30:00   -1.307958
2012-03-13 09:30:00    0.374978
2012-03-14 09:30:00   -0.263157
Freq: D, dtype: float64

In [217]:
print(ts.index.tz) # timezone 없지!

None

#### # 시간대 지정하여 날짜 범위 생성

In [219]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

#### # 지정한 시간대로 시계열 변경
- 시간대가 없는 시계열 : tz_localize()
- 시간대가 있는 시계열 : tz_convert()
    - 시간대가 다른 시계열로 변환

In [220]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00    0.067332
2012-03-10 09:30:00   -0.291864
2012-03-11 09:30:00   -0.445705
2012-03-12 09:30:00   -1.307958
2012-03-13 09:30:00    0.374978
2012-03-14 09:30:00   -0.263157
Freq: D, dtype: float64

2012-03-09 09:30:00+00:00    0.067332
2012-03-10 09:30:00+00:00   -0.291864
2012-03-11 09:30:00+00:00   -0.445705
2012-03-12 09:30:00+00:00   -1.307958
2012-03-13 09:30:00+00:00    0.374978
2012-03-14 09:30:00+00:00   -0.263157
Freq: D, dtype: float64

In [221]:
ts_utc.index
ts_utc.index.tzinfo

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [222]:
ts_utc.tz_convert('US/Eastern') # 미 동부 표준시로 변경한다!!

2012-03-09 04:30:00-05:00    0.067332
2012-03-10 04:30:00-05:00   -0.291864
2012-03-11 05:30:00-04:00   -0.445705
2012-03-12 05:30:00-04:00   -1.307958
2012-03-13 05:30:00-04:00    0.374978
2012-03-14 05:30:00-04:00   -0.263157
Freq: D, dtype: float64

In [224]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.index.tzinfo
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.067332
2012-03-10 14:30:00+00:00   -0.291864
2012-03-11 13:30:00+00:00   -0.445705
2012-03-12 13:30:00+00:00   -1.307958
2012-03-13 13:30:00+00:00    0.374978
2012-03-14 13:30:00+00:00   -0.263157
Freq: D, dtype: float64

In [225]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.067332
2012-03-10 15:30:00+01:00   -0.291864
2012-03-11 14:30:00+01:00   -0.445705
2012-03-12 14:30:00+01:00   -1.307958
2012-03-13 14:30:00+01:00    0.374978
2012-03-14 14:30:00+01:00   -0.263157
Freq: D, dtype: float64

In [227]:
ts.index.tz_localize('Asia/Seoul')

DatetimeIndex(['2012-03-09 09:30:00+09:00', '2012-03-10 09:30:00+09:00',
               '2012-03-11 09:30:00+09:00', '2012-03-12 09:30:00+09:00',
               '2012-03-13 09:30:00+09:00', '2012-03-14 09:30:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='D')

## 10.4.2 Operations with time zone-aware Timestamp objects
-  시간대를 고려한 Timestamp 객체 다루기

In [229]:
stamp = pd.Timestamp('2011-03-12 04:00'); stamp
stamp_utc = stamp.tz_localize('utc'); stamp_utc
stamp_utc.tz_convert('US/Eastern')
stamp_utc.tz_convert('US/Pacific')
stamp_utc.tz_convert('Asia/Seoul')

Timestamp('2011-03-12 04:00:00')

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

Timestamp('2011-03-11 20:00:00-0800', tz='US/Pacific')

Timestamp('2011-03-12 13:00:00+0900', tz='Asia/Seoul')

In [231]:
show_time = pd.Timestamp('2017-09-11 10:00')
show_time_kr = show_time.tz_localize('Asia/Seoul'); show_time_kr
show_time_kr.tz_convert('US/Eastern')

Timestamp('2017-09-11 10:00:00+0900', tz='Asia/Seoul')

Timestamp('2017-09-10 21:00:00-0400', tz='US/Eastern')

#### # Timezone 객체 생성 시 시간대 지정 가능

In [232]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

#### # UNIX epoch (1970년 1월 1일) 부터 해당 시간까지의 나노초
- 시간대 변환해도 유지됨
- 즉, **일종의 절대시간**

In [233]:
stamp_utc.value

1299902400000000000

In [235]:
stamp_utc.tz_convert('US/Eastern').value
# 값이 그대로 이네!

1299902400000000000

#### # 일괄절약시간제 고려한 시간 계산
- 일광절약시간제 : https://ko.wikipedia.org/wiki/일광_절약_시간제
- DST 전환 시점 고려

In [236]:
# 30 minutes before DST transition
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-11 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [237]:
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [238]:
# 90 minutes before DST transition
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [ ]:
stamp + 2 * Hour()

- 일광절약시간도 python이 알아서 잘 계산해 준다!!

### 10.4.3 Operations between different time zones
- 서로 다른 시간대 연산 결과
    - UTC로 통일시키고 연산한다!!

In [240]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -0.330735
2012-03-08 09:30:00   -0.473666
2012-03-09 09:30:00   -0.722618
2012-03-12 09:30:00   -0.532147
2012-03-13 09:30:00   -0.174523
2012-03-14 09:30:00   -1.400093
2012-03-15 09:30:00   -1.647049
2012-03-16 09:30:00    0.407578
2012-03-19 09:30:00    0.112088
2012-03-20 09:30:00    1.743050
Freq: B, dtype: float64

In [242]:
ts1 = ts[:7].tz_localize('Europe/London'); ts1.index
ts2 = ts1[2:].tz_convert('Europe/Moscow'); ts2.index
result = ts1 + ts2
result
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='B')

DatetimeIndex(['2012-03-09 13:30:00+04:00', '2012-03-12 13:30:00+04:00',
               '2012-03-13 13:30:00+04:00', '2012-03-14 13:30:00+04:00',
               '2012-03-15 13:30:00+04:00'],
              dtype='datetime64[ns, Europe/Moscow]', freq='B')

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -1.445237
2012-03-12 09:30:00+00:00   -1.064294
2012-03-13 09:30:00+00:00   -0.349045
2012-03-14 09:30:00+00:00   -2.800185
2012-03-15 09:30:00+00:00   -3.294099
Freq: B, dtype: float64

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## 10.5 Periods and Period Arithmetic
- 몇 일, 몇 개월, 몇 분기 ....

In [246]:
p = pd.Period(2017, freq='A-DEC') # 12월로 끝나는 1년, period 만듬
p

Period('2017', 'A-DEC')

In [249]:
p + 5 # 2022년 1년간을 뜻한다!

Period('2022', 'A-DEC')

In [250]:
p - 2

Period('2015', 'A-DEC')

In [252]:
pd.Period('2014', freq='A-DEC') - p # 3년 차이가 난다.

-3

#### # pandas.period_range(): PeriodIndex 생성

In [253]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M') # 월말이다! 
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [254]:
Series(np.random.randn(6), index=rng)

2000-01    0.082680
2000-02   -0.408571
2000-03   -0.693373
2000-04   -0.361467
2000-05   -1.514032
2000-06    0.247914
Freq: M, dtype: float64

In [261]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### 10.5.1 Period Frequency Conversion
- Period.asfreq()
#### # 상위 단계 기간 ==> 하위 단계 기간

In [262]:
p = pd.Period('2007', freq='A-DEC'); p
p.asfreq('M', how='start') # 년단위에서 월단위 START로 변경하겠다! 
# 년 -> 월 (상위 -> 하위) 된거다!!

Period('2007', 'A-DEC')

Period('2007-01', 'M')

In [263]:
p.asfreq('M', how='end')
p.asfreq('D', how='end')
p.asfreq('H', how='end')
p.asfreq('H', how='start')

Period('2007-12', 'M')

Period('2007-12-31', 'D')

Period('2007-12-31 23:00', 'H')

Period('2007-01-01 00:00', 'H')

In [271]:
p = pd.Period('2007', freq='A-JUN'); p
# 매년 6월 까지를 구분으로 하는 period 였던거다.
p.asfreq('M', 'start')
p.asfreq('M', 'end')

Period('2007', 'A-JUN')

Period('2006-07', 'M')

Period('2007-06', 'M')

#### # 하위 단계 기간 ==> 상위 단계 기간
- 사위 기간은 하위 기간이 어디에 속했는지에 따라 결정

In [275]:
p = pd.Period('Aug-2007', 'M'); p
p.asfreq('A-JUN') 
# 반올림인가?!

Period('2007-08', 'M')

Period('2008', 'A-JUN')

#### # PeriodIndex 객체도 마친가지로 다루자

In [273]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2006    1.184301
2007   -0.957583
2008    0.616162
2009    0.492858
Freq: A-DEC, dtype: float64

In [274]:
ts.asfreq
ts.asfreq('M', how='start')

<bound method NDFrame.asfreq of 2006    1.184301
2007   -0.957583
2008    0.616162
2009    0.492858
Freq: A-DEC, dtype: float64>

2006-01    1.184301
2007-01   -0.957583
2008-01    0.616162
2009-01    0.492858
Freq: M, dtype: float64

In [276]:
ts.asfreq('B', how='end')

2006-12-29    1.184301
2007-12-31   -0.957583
2008-12-31    0.616162
2009-12-31    0.492858
Freq: B, dtype: float64

## 10.5.2 Quarterly period frequencies
- 회계 연도의 끝에 따라 의미가 달라짐
- 12 가지의 분기 빈도: Q-JAN ~ Q-DEC

In [281]:
p = pd.Period('2017Q3', freq='Q-DEC') # 12월로 끝
p
p2 = pd.Period('2017Q3', freq='q-jan') # 소문자도 된다. but 대문자로 쓰는게 좋지
p2                                     # 1월로 끝

Period('2017Q3', 'Q-DEC')

Period('2017Q3', 'Q-JAN')

In [279]:
p.asfreq('D', 'start') # 기간의 첫째날로 (day로) 변경하고 싶다. 
# 3분기 7,8,9월이니 7월의 첫째날 7월 1일이 나왔지!! 
p2.asfreq('D', 'S')
# 3분기 8,9,10월 이니 8월의 첫째날 8월 1일이 나왔지!!

Period('2017-07-01', 'D')

Period('2016-08-01', 'D')

In [280]:
p.asfreq('D', 'end')
p2.asfreq('D', 'e')

Period('2017-09-30', 'D')

Period('2016-10-31', 'D')

#### # 2017년 3분기 마지막 영업 마감일의 오후 4시

In [287]:
p
p.asfreq('B', 'e')
p4pm = (p.asfreq('B', 'e')).asfreq('T', 's') + 16 * 60 
# 영업일을 찾기 위해서 'B'를 주었고, 마감일이니 'e'를 주었다.
# 그 다음에 하루를 뺐네, 
# 그 결과에서 다시 분으로 변환해서 start를 보았다. 거기에 16시간을 더해 주었다. 
# -1이 필요한가?!
p4pm

Period('2017Q3', 'Q-DEC')

Period('2017-09-29', 'B')

Period('2017-09-29 16:00', 'T')

In [288]:
p4pm.to_timestamp()

Timestamp('2017-09-29 16:00:00')

#### # pandas.period_range()를 이용한 분기 범위 만들기

In [289]:
rng = pd.period_range('2016Q3', '2017Q4', freq='Q-JAN') # freq를 잘 봐야지.. 1분기가 2,3,4 월이다. 
                                                        # 2017 4분기 끝나는 달이 jan이다! 
ts = Series(np.arange(len(rng)), index=rng)
ts

2016Q3    0
2016Q4    1
2017Q1    2
2017Q2    3
2017Q3    4
2017Q4    5
Freq: Q-JAN, dtype: int32

In [290]:
new_rng = (rng.asfreq('B', 'e')).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts
# Business Quarter October 이다!

2015-10-30 16:00:00    0
2016-01-29 16:00:00    1
2016-04-29 16:00:00    2
2016-07-29 16:00:00    3
2016-10-31 16:00:00    4
2017-01-31 16:00:00    5
Freq: BQ-OCT, dtype: int32

- 분기 값을 실 데이터로 바꾸는 것을 했다.

### 10.5.3 Converting Timestamps to Periods (and back)
- Timestamp <===> Period
- to_period() <===> to_tiestamp()

In [292]:
rng = pd.date_range('1/1/2000', periods=3, freq='M') # 'M' 이 end of month 이지!! 
ts = Series(randn(3), index=rng)
ts

2000-01-31    2.352887
2000-02-29    0.748847
2000-03-31    1.862741
Freq: M, dtype: float64

#### # to_period()에 의해 변환되는 빈도(freq.)는 추정된다.

In [294]:
pts = ts.to_period()
pts
# 1달 간격으로 바꿔줬네!!

2000-01    2.352887
2000-02    0.748847
2000-03    1.862741
Freq: M, dtype: float64

#### # 빈도를 지정할 수도 있음
- 중복되는 시간 인덱스가 나타날 수 있음

In [296]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = Series(randn(6), index=rng)
ts2
ts2.to_period('M')
# 값이 여러개 여로 Day -> Month로 상향하네.
# 중복되는 timeindex가 나타날 수 있다!

2000-01-29    0.619012
2000-01-30   -0.492180
2000-01-31    0.478970
2000-02-01   -1.028509
2000-02-02    0.156651
2000-02-03    1.609321
Freq: D, dtype: float64

2000-01    0.619012
2000-01   -0.492180
2000-01    0.478970
2000-02   -1.028509
2000-02    0.156651
2000-02    1.609321
Freq: M, dtype: float64

In [297]:
pts = ts.to_period()
pts

2000-01    2.352887
2000-02    0.748847
2000-03    1.862741
Freq: M, dtype: float64

In [299]:
pts.to_timestamp(how='end'); pts
# 월 -> day 하니 day를 지정해 줘야한다. 그걸 how로 지정!!!

2000-01-31    2.352887
2000-02-29    0.748847
2000-03-31    1.862741
Freq: M, dtype: float64

2000-01    2.352887
2000-02    0.748847
2000-03    1.862741
Freq: M, dtype: float64

In [305]:
ts2
ts2.to_period('M')
ts2.to_period('M').to_timestamp(how="end") # 같은 마지막 날로 맞춰 줌!!

2000-01-29    0.619012
2000-01-30   -0.492180
2000-01-31    0.478970
2000-02-01   -1.028509
2000-02-02    0.156651
2000-02-03    1.609321
Freq: D, dtype: float64

2000-01    0.619012
2000-01   -0.492180
2000-01    0.478970
2000-02   -1.028509
2000-02    0.156651
2000-02    1.609321
Freq: M, dtype: float64

2000-01-31    0.619012
2000-01-31   -0.492180
2000-01-31    0.478970
2000-02-29   -1.028509
2000-02-29    0.156651
2000-02-29    1.609321
dtype: float64

## 10.5.4 Creating a PeriodIndex from arrays

In [308]:
data = pd.read_csv('ch08/macrodata.csv')
data
data.year

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.980,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.150,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.350,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.370,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.540,139.6,3.50,5.2,180.007,2.31,1.19
5,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.550,140.2,2.68,5.2,180.671,0.14,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,2008.0,2.0,13415.266,9351.0,2026.518,961.280,10059.0,218.610,1409.3,1.74,5.4,304.483,8.53,-6.79
198,2008.0,3.0,13324.600,9267.7,1990.693,991.551,9838.3,216.889,1474.7,1.17,6.0,305.270,-3.16,4.33
199,2008.0,4.0,13141.920,9195.3,1857.661,1007.273,9920.4,212.174,1576.5,0.12,6.9,305.952,-8.79,8.91
200,2009.0,1.0,12925.410,9209.2,1558.494,996.287,9926.4,212.671,1592.8,0.22,8.1,306.547,0.94,-0.71
201,2009.0,2.0,12901.504,9189.0,1456.678,1023.528,10077.5,214.469,1653.6,0.18,9.2,307.226,3.37,-3.19
202,2009.0,3.0,12990.341,9256.0,1486.398,1044.088,10040.6,216.385,1673.9,0.12,9.6,308.013,3.56,-3.44

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
        ...
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [307]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
      ...
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [309]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index
# 년도와 분기를 통해서 index를 생성함!!

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [310]:
data[:10]

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19
5,1960.0,2.0,2834.390,1792.9,298.152,460.400,1966.1,29.55,140.2,2.68,5.2,180.671,0.14,2.55
6,1960.0,3.0,2839.022,1785.8,296.375,474.676,1967.8,29.75,140.9,2.36,5.6,181.528,2.70,-0.34
7,1960.0,4.0,2802.616,1788.2,259.764,476.434,1966.6,29.84,141.1,2.29,6.3,182.287,1.21,1.08
8,1961.0,1.0,2819.264,1787.7,266.405,475.854,1984.5,29.81,142.1,2.37,6.8,182.992,-0.40,2.77
9,1961.0,2.0,2872.005,1814.3,286.246,480.328,2014.4,29.92,142.9,2.29,7.0,183.691,1.47,0.81

In [311]:
data.index = index
data.infl
# index를 바꿔서 시계열 데이터로 바꾼거임!!

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
          ...
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## 10.6 Resampling and Frequency Conversion
- Resampling : 시계열의 빈도를 변경하는 작업
    - 다운샘플링: 상위 빈도 ===> 하위 빈도 (일 -> 월)
        - 표본을 천천히 뽑겠다.
        - 그룹 집계 (aggregation 필요하다)
    - 업샘플링: 하위 빈도 ===> 상위 빈도 (월 -> 일)
        - 보간 (*내삽,*외삽 2가지가 있다.)
    - 사이드샘플링(Q-DEC ==> Q-JAN 으로 바꾸거나 할 경우)
    

 - resample method
     - Series.resample()
     - DataFrame.resample()
     - DataFrameGroupBy.resample()
     - 위 하면 resampler라는 객체가 생성된다! 
  
---

In [315]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(randn(len(rng)), index=rng); ts
# ts.resample('M', how='mean')
ts.resample('M') # Resampler 객체!! 
ts.resample('M').mean()
# 각 달을 전부 마지막 일로 바꿈!! 그리고 나서 평균 낸 거임!! 
ts.resample('M').asfreq()

# mean은 있는 값들만 가지고 계산하고,
# asfreq는 default가 평균 구해주는 건데, 없는 날들도 NaN으로 처리해서 평균을 계산한거다. 그래서 값이 다르다!!

2000-01-01   -0.582786
2000-01-02   -1.673113
2000-01-03    0.137669
2000-01-04   -0.552464
2000-01-05   -0.615269
2000-01-06   -0.166758
                ...
2000-04-04   -1.667245
2000-04-05    0.002644
2000-04-06   -0.443971
2000-04-07    0.653583
2000-04-08   -0.195019
2000-04-09    1.410224
Freq: D, Length: 100, dtype: float64

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

2000-01-31   -0.118104
2000-02-29   -0.117961
2000-03-31   -0.168239
2000-04-30   -0.063820
Freq: M, dtype: float64

2000-01-31   -0.323935
2000-02-29   -1.068513
2000-03-31   -1.283181
2000-04-30         NaN
Freq: M, dtype: float64

In [316]:
ts.resample('M',kind='period').mean() # option kind 추가함!!

2000-01   -0.118104
2000-02   -0.117961
2000-03   -0.168239
2000-04   -0.063820
Freq: M, dtype: float64

## Downsampling
- 샘플링(표본 추출) 비율을 낮추는 작업
    - 표본을 천천히 뽑겠다
- 고려할 사항
    - 각 간격의 양 끝 중에서 열어둘 쪽
    - 집계하려는 구간의 레이블을 간격의 시작으로 할 지 끝으로 할지 여부

In [317]:
rng = pd.date_range('1/1/2000', periods=12, freq='T') # min이지!! 
ts = Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

#### # 5분 단위로 묶고 묶은 결과는 합으로

In [320]:
ts
ts.resample('5min')
ts.resample('5min').sum()
# note: output changed (as the default changed from closed='right', label='right' to closed='left', label='left'
# 간격이 5분이기 때문에 어디에 포함되는지 알아야 한다!! 
# 그게 option closed이다!! default는 closed='left' 이다!! 왼쪽이 포함!!

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

DatetimeIndexResampler [freq=<5 * Minutes>, axis=0, closed=left, label=left, convention=start, base=0]

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [321]:
ts.resample('5min', closed='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [332]:
ts.resample('5min', closed='left', label='left').sum()
ts.resample('5min', closed='right', label='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [330]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

- closed
    - left : 왼쪽을 닫았으니 기준값이 왼쪽, 앞쪽에 포함된다,
    - right : 오른쪽을 닫았으니 기준값이 오른쪽, 뒤쪽에 포함된다,
- label
    - left : index가 기존에서 왼쪽, 앞쪽 것이 return 됨
    - right : index가 기존에서 오른쪽, 뒤쪽 것이 return 됨

---

In [331]:
ts.resample('5min', loffset='-1s').sum() # loffset 때문에 1초 - 해서 보여주네!! 끝나는 시간을 적어줌!!

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int32

### # Open-High-Low-Close (OHLC) resampling
- 시가-고가-저가-종가

In [335]:
# ts.resample('5min', how='ohlc')
ts.resample('5min').ohlc()
# note: output changed because of changed defaults

# 5분 범위 내에 있는 값을 시가 고가 저가 종가로 정리해 준것임!!

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

### # Resampling with GroupBy

In [339]:
rng = pd.date_range('1/1/2017', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts
ts.groupby(lambda x: x.month).mean() # 1~4 각 달의 평균을 내줌!! 
ts.resample('M').mean() # 결과는 위와 같다!!

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
2017-01-06     5
              ..
2017-04-05    94
2017-04-06    95
2017-04-07    96
2017-04-08    97
2017-04-09    98
2017-04-10    99
Freq: D, Length: 100, dtype: int32

1    15.0
2    44.5
3    74.0
4    94.5
dtype: float64

2017-01-31    15.0
2017-02-28    44.5
2017-03-31    74.0
2017-04-30    94.5
Freq: M, dtype: float64

### DatetimeIndex.weekday
- Monday = 0 / Sunday = 6

In [340]:
ts.groupby(lambda x: x.weekday).mean() # 요일별 평균을 매김!!!

0    50.0
1    47.5
2    48.5
3    49.5
4    50.5
5    51.5
6    49.0
dtype: float64

## 10.6.2 Upsampling and interpolation

In [341]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('9/1/2017', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-13 -0.272762  1.088707  0.844001  0.914558

#### # 누락값 발생

In [343]:
df_daily = frame.resample('D').asfreq()
df_daily
# 없던 날이 생겨버림..

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-07       NaN       NaN       NaN       NaN
2017-09-08       NaN       NaN       NaN       NaN
2017-09-09       NaN       NaN       NaN       NaN
2017-09-10       NaN       NaN       NaN       NaN
2017-09-11       NaN       NaN       NaN       NaN
2017-09-12       NaN       NaN       NaN       NaN
2017-09-13 -0.272762  1.088707  0.844001  0.914558

#### # 보간
- ffill() : 이전 값으로 채우기
- bfill() : 이후 값으로 채우기

In [345]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-07 -0.442991  0.064371  1.296485  1.406327
2017-09-08 -0.442991  0.064371  1.296485  1.406327
2017-09-09 -0.442991  0.064371  1.296485  1.406327
2017-09-10 -0.442991  0.064371  1.296485  1.406327
2017-09-11 -0.442991  0.064371  1.296485  1.406327
2017-09-12 -0.442991  0.064371  1.296485  1.406327
2017-09-13 -0.272762  1.088707  0.844001  0.914558

In [346]:
frame.resample('D').bfill()

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-07 -0.272762  1.088707  0.844001  0.914558
2017-09-08 -0.272762  1.088707  0.844001  0.914558
2017-09-09 -0.272762  1.088707  0.844001  0.914558
2017-09-10 -0.272762  1.088707  0.844001  0.914558
2017-09-11 -0.272762  1.088707  0.844001  0.914558
2017-09-12 -0.272762  1.088707  0.844001  0.914558
2017-09-13 -0.272762  1.088707  0.844001  0.914558

In [350]:
frame.resample('D').ffill(limit=2) # 2개만 채워라!! 
frame.resample('D').bfill(limit=2) # 2개만 채워라!!

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-07 -0.442991  0.064371  1.296485  1.406327
2017-09-08 -0.442991  0.064371  1.296485  1.406327
2017-09-09       NaN       NaN       NaN       NaN
2017-09-10       NaN       NaN       NaN       NaN
2017-09-11       NaN       NaN       NaN       NaN
2017-09-12       NaN       NaN       NaN       NaN
2017-09-13 -0.272762  1.088707  0.844001  0.914558

            Colorado     Texas  New York      Ohio
2017-09-06 -0.442991  0.064371  1.296485  1.406327
2017-09-07       NaN       NaN       NaN       NaN
2017-09-08       NaN       NaN       NaN       NaN
2017-09-09       NaN       NaN       NaN       NaN
2017-09-10       NaN       NaN       NaN       NaN
2017-09-11 -0.272762  1.088707  0.844001  0.914558
2017-09-12 -0.272762  1.088707  0.844001  0.914558
2017-09-13 -0.272762  1.088707  0.844001  0.914558

In [354]:
frame.resample('W-THU').asfreq()
frame.resample('W-THU').ffill() # 수요일 데이터 였는데, 목요일 데이터로 side sampling 하겠다!! 
frame.resample('W-THU').bfill() 
# 표를 보고 앞의 값을 채우는지 뒷값을 채우는지 보면 된다.

            Colorado  Texas  New York  Ohio
2017-09-07       NaN    NaN       NaN   NaN
2017-09-14       NaN    NaN       NaN   NaN

            Colorado     Texas  New York      Ohio
2017-09-07 -0.442991  0.064371  1.296485  1.406327
2017-09-14 -0.272762  1.088707  0.844001  0.914558

            Colorado     Texas  New York      Ohio
2017-09-07 -0.272762  1.088707  0.844001  0.914558
2017-09-14       NaN       NaN       NaN       NaN

## 10.6.3 Resampling with periods

In [ ]:
frame = DataFrame(np.random.randn(24, 4),
                  index=pd.period_range('1-2000', '12-2001', freq='M'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

In [ ]:
annual_frame = frame.resample('A-DEC', how='mean')
annual_frame

In [ ]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC', fill_method='ffill')
# note: output changed, default value changed from convention='end' to convention='start' + 'start' changed to span-like
# also the following cells

In [ ]:
annual_frame.resample('Q-DEC', fill_method='ffill', convention='start')

In [ ]:
annual_frame.resample('Q-MAR', fill_method='ffill')

## Time series plotting

In [ ]:
close_px_all = pd.read_csv('ch09/stock_px.csv', parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B', fill_method='ffill')
close_px.info()

In [ ]:
close_px['AAPL'].plot()

In [ ]:
close_px.ix['2009'].plot()

In [ ]:
close_px['AAPL'].ix['01-2011':'03-2011'].plot()

In [ ]:
appl_q = close_px['AAPL'].resample('Q-DEC', fill_method='ffill')
appl_q.ix['2009':].plot()

## Moving window functions

In [ ]:
close_px = close_px.asfreq('B').fillna(method='ffill')

In [ ]:
close_px.AAPL.plot()
pd.rolling_mean(close_px.AAPL, 250).plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = pd.rolling_std(close_px.AAPL, 250, min_periods=10)
appl_std250[5:12]

In [ ]:
appl_std250.plot()

In [ ]:
# Define expanding mean in terms of rolling_mean
expanding_mean = lambda x: rolling_mean(x, len(x), min_periods=1)

In [ ]:
pd.rolling_mean(close_px, 60).plot(logy=True)

In [ ]:
plt.close('all')

### Exponentially-weighted functions

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=1, sharex=True, sharey=True,
                         figsize=(12, 7))

aapl_px = close_px.AAPL['2005':'2009']

ma60 = pd.rolling_mean(aapl_px, 60, min_periods=50)
ewma60 = pd.ewma(aapl_px, span=60)

aapl_px.plot(style='k-', ax=axes[0])
ma60.plot(style='k--', ax=axes[0])
aapl_px.plot(style='k-', ax=axes[1])
ewma60.plot(style='k--', ax=axes[1])
axes[0].set_title('Simple MA')
axes[1].set_title('Exponentially-weighted MA')

### Binary moving window functions

In [ ]:
close_px
spx_px = close_px_all['SPX']

In [ ]:
spx_rets = spx_px / spx_px.shift(1) - 1
returns = close_px.pct_change()
corr = pd.rolling_corr(returns.AAPL, spx_rets, 125, min_periods=100)
corr.plot()

In [ ]:
corr = pd.rolling_corr(returns, spx_rets, 125, min_periods=100)
corr.plot()

### User-defined moving window functions

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = pd.rolling_apply(returns.AAPL, 250, score_at_2percent)
result.plot()

## Performance and Memory Usage Notes

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
ts.resample('15min', how='ohlc').info()

In [ ]:
%timeit ts.resample('15min', how='ohlc')

In [ ]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s', how='ohlc')